<!DOCTYPE html>
<html lang="ar">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
        <meta name="description" content="{{ discripshin }}">
        <meta name="author" content="{{ author_name }}">
        <title>ahmad site</title>
        <link href="../../static/mainsite/css/style.css" rel="stylesheet">
        <!--<link href="" rel="stylesheet">-->
        <link href="../../static/mainsite/css/bootstrap.css" rel="stylesheet">
        <!--<link href="../../static/mainsite/css/bootstrap.css" rel="stylesheet">-->
    </head>
    <body>
        <div data-pgc-optional style="height: 56px; background-color: #618061; position: sticky;" class="main_header">
            <div style="height: 54px; float: right; margin-right: 12px; width: 58px; padding: 7px 9px 9px;">
                <div style="width: 100%; height: 50px;" class="main_button_list_1"></div>
            </div>
        </div>
    </body>
</html>
