<!DOCTYPE html>
<html lang="ar">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ discripshin }}">
        <meta name="author" content="{{ author_name }}">
        <title>ahmad site</title>
        <link href="../../static/mainsite/css/style.css" rel="stylesheet">
        <!--<link href="" rel="stylesheet">-->
        <link href="../../static/mainsite/css/bootstrap.css" rel="stylesheet">
        <!--<link href="../../static/mainsite/css/bootstrap.css" rel="stylesheet">-->
    </head>
    <body>
</body>
</html>
