<!DOCTYPE html>
<html lang="ar">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
        <meta name="description" content="{{ discripshin }}">
        <meta name="author" content="{{ author_name }}">
        <title>ahmad site</title>
        <link href="../../static/mainsite/css/style.css" rel="stylesheet">
        <!--<link href="" rel="stylesheet">-->
        <link href="../../static/mainsite/css/bootstrap.css" rel="stylesheet">
        <!--<link href="../../static/mainsite/css/bootstrap.css" rel="stylesheet">-->
    </head>
    <body>
        <div data-pgc-optional style="height: 56px; background-color: #4b6f4b; position: sticky;"></div>
    </body>
</html>
