.main_header {
}

main_list_button_1 {
}

.main_button_list_1 {
    background-size: contain;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-image: url('../img/white_menu_button.png');
}

body {
    background-repeat: no-repeat;
}

.main_html {
    background-image: url('../img/eric-jacob-G0miZ5OYaXI-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

input[ type = text ]:focus {
    background-color: rgba(253, 255, 204, 0.37);
    border-right: 4px solid rgba(77, 72, 40, 0.73);
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #205021;
}

input[ type = text ] {
    background-color: rgba(255, 255, 255, 0.28);
    border: 0 none #000000;
}

.button_input {
    width: 82%;
    height: 38px;
    padding: 11px 16px 5px 5px;
    font-size: 27px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
    vertical-align: middle;
    border: 2px solid rgba(78, 70, 31, 0.24);
    font-weight: bolder;
    color: #183415;
}

.button_input:hover {
    color: #ffffff;
    background-color: #183415;
    opacity: 0.7;
    width: 1;
}